/*Shared Styles */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

button,
input,
textarea {
  font: inherit;
  border: none;
  outline: none;
}

button:focus,
a:focus {
  outline: 2px solid #000;
  outline-offset: 2px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}
li {
  display: inline-block;
}
ul {
  list-style-type: none;
}

span,
a {
  display: inline-block;
}

.container {
  width: 88%;
  padding-inline: 10px;
  margin-inline: auto;
}

::-webkit-scrollbar {
  background-color: var(--gray-color);
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 5px;
}

input{
  color: white;
  padding-left: 10px;
}

input:focus{
  background-color: transparent;
}
input::placeholder{
  color: white !important;
  
}
.section {
  padding-block: var(--padding-section);
}

.cursor-pointer {
  cursor: pointer;
}

.text-main {
  color: var(--primary-color);
}

.bg-main {
  background-color: var(--primary-color);
}
a:focus {
  outline: none;
}
/* Nav-Bar */
ul li a {
  color: white !important;
  font-size: 14px !important;
}
ul li {
  text-align: center;
  margin-right: 5px;
  width: 130px;
}

.navbar-nav .nav-link.active {
  color: #009ad8 !important;
  border: 3px solid #009ad8;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.navbar-nav .nav-item {
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
}
.navbar-nav .nav-item:hover {
  color: #009ad8 !important;
  border: 3px solid #009ad8;
  border-radius: 50px;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.navbar-expand-lg .navbar-toggler{
  border: none ;
  color: white !important;
  background-color: #323544;
}
.navbar-expand-lg .navbar-toggler:hover{
  border: 2px solid #009ad8;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}
.navbar-toggler-icon{
  
  width: 40px;
  padding: 20px !important;
  border-radius:5px ;
  -webkit-border-radius:5px ;
  -moz-border-radius:5px ;
  -ms-border-radius:5px ;
  -o-border-radius:5px ;
}



/* Home Section */

.home-section {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #222 50%),
    url("../images/banner.png");
  background-size: cover;
  background-position: top;
}
.input {
  background-color: transparent;
}

.bott {
  background-color: #009ad8;
  color: white;
}

.degree {
  height: 100px;
  font-size: 60px;
}
.degree img {
  width: 100px;
}

.icons .img img {
  width: 30%;
  margin-left: 10px;
}

/* 323544 */
.row {
  background-color: #323544;
}

.text {
  background-color: #292c3a;
}

.item2 {
  background-color: #21232d;
}
.item2 .text {
  background-color: #2c2e3b;
}

.item2 img {
  width: 50px;
}

/* Footer Section */
.footer {
  background-color: #323544;
}
.links div {
  width: 50px;
  height: 50px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  color: #009ad8;
}

.links div:hover {
  background-color: #009ad8 !important;
  color: white;
  cursor: pointer;
}



.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: white;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}

